@page "/"
@using AspireApp.Libraries.Models
@using AspireApp.Libraries.Enums
@using AspireApp.ServiceDefaults.Shared
@using Newtonsoft.Json;
@using System.Diagnostics

@inject OrchestratorApiClient OrchestratorApi

<PageTitle>Home</PageTitle>

<h1>Home</h1>

@if (runImageNew != null)
{
    <p><em>RunImage [New]:</em> @runImageNew.Name / @runImageNew.CreatedDate [@runImageNew.Duration] - @runImageNew.Length(runImageNew.Content)</p>
    <img src="@imageNew" />
}

@if (runImageSaved != null)
{
    <p><em>RunImage [Saved]:</em> @runImageSaved.Name / @runImageSaved.CreatedDate [@runImageSaved.Duration] - @runImageSaved.Length(runImageSaved.Content)</p>
    <img src="@imageSaved" />
}

@code {
    private RunImage? runImageNew, runImageSaved;
    private string imageNew = string.Empty, imageSaved = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        // Case 1: getSourceData:
        var response = await OrchestratorApi.getSourceData(new DerivedDataFilter() { Name = "Combined NCP (Picture)" });        
        // processData:
        runImageNew = await OrchestratorApi.processData(new DerivedDataFilter() { CompressedDerivedData = response.Content });
        imageNew = UtilsForMessages.Decompress(runImageNew!.Content);

        // Case 2: getRunImage:
        runImageSaved = await OrchestratorApi.getRunImage(1);
        // processData:        
        imageSaved = UtilsForMessages.Decompress(runImageSaved!.Content);
        
    }
}